@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&display=swap');

* {
    text-align: center;
}

body {
    width: 100%;
    margin: 0;
    background-color: white;
}

h1 {
    font-family: "Kaisei HarunoUmi";
    font-size: 70px;
    padding-bottom: 2%;
    color: white;
    margin-top: auto;

}

.title {
    background-color: black !important;
    width: 100% !important;

}

h2 {
    font-family: "Kaisei HarunoUmi";
    font-size: 35px;
    padding-bottom: 10%;
    margin-top: 5px;
}

h3 {
    font-family: "Kaisei HarunoUmi";
    font-size: 25px;
}

div img {
    width: 25em;
}

div img:hover {
    animation-name: animation1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animation1 {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.5, 1.5);
    }
}